{% extends 'crud/base.html' %}

{% load static %}

{% block contenido %}



 <!-- formulario -->
  
 <div class="container py-5">
    <div class="row justify-content-center align-items-center h-75">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registro</h3>
            <!-- formulario -->
            <form id="formulario" action="" method="post">
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="PrimerNombre" class="form-control form-control-lg" name="PrimerNombre" required />
                    <label class="form-label" for="PrimerNombre">Primer nombre</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="SegundoNombre" class="form-control form-control-lg" name="SegundoNombre" required />
                    <label class="form-label" for="SegundoNombre">Segundo nombre</label>
                  </div>

                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="PrimerApellido" class="form-control form-control-lg" name="PrimerApellido" required />
                    <label class="form-label" for="PrimerApellido">Primer apellido</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="SegundoApellido" class="form-control form-control-lg" name="SegundoApellido" required />
                    <label class="form-label" for="SegundoApellido">Segundo apellido</label>
                  </div>

                </div>
              </div>

              <!-- nomusuario -->

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="test" id="rut" name="rut"  class="form-control form-control-lg" required
                      onblur="checkRut(this)" />
                    <label class="form-label" for="rut">Rut</label>
                  </div>

                </div>
                
                
              </div>

              <div class="row">

                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="usuario" class="form-control form-control-lg" name="usuario" required />
                    <label class="form-label" for="usuario">Usuario</label>
                  </div>

                </div>
                
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="password" id="pass" class="form-control form-control-lg" name="pass" required />
                    <label class="form-label" for="pass">Contraseña</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="text" id="direccion" class="form-control form-control-lg" name="direccion" required />
                    <label class="form-label" for="direccion">Direccion</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-6 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="number" class="form-control form-control-lg" id="edad" name="edad" required />
                    <label for="edad" class="form-label">Edad</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Genero: </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genero" id="generoFemenino"
                      value="option1" />
                    <label class="form-check-label" for="generoFemenino">Femenino</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genero" id="generoMasculino"
                      value="option2" />
                    <label class="form-check-label" for="generoMasculino">Masculino</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genero" id="otroGenero"
                      value="option3" />
                    <label class="form-check-label" for="otroGenero">Otro</label>
                  </div>
                  <div >
                    <label for="genero" class="error"></label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="text" id="email" class="form-control form-control-lg" name="email" required />
                    <label class="form-label" for="email">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="text" id="numeroTelefono" class="form-control form-control-lg" name="numeroTelefono" required />
                    <label class="form-label" for="numeroTelefono">Telefono</label>
                  </div>

                </div>
              </div>
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock contenido %}