{% extends 'crud/base.html' %}

{% load static %}

{% block contenido %}



<div class="container bg-light">
    <div class="row justify-content-center align-items-center h-100">

      <div class="col-md-5 mt-4 col-xs-12 rounded" id="ImgInicio">

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 mt-4 mb-4 shadow-lg  bg-body rounded">
        <form action="./sesion.html" method="get" id="formulario">
          <h3 class="fw-lighter text-center p-2">Iniciar Sesion</h3>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputnombre" placeholder="TierraAdentro" required>
            <label for="inputnombre" class="form-label">Usuario</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword" class="form-label">contrasena</label>
          </div>
          <button type="submit" class="btn btn-primary mt-2" id="enviaruser" onclick="inicio(event)">IniciaSesion</button>
          <!-- <input type="submit" value="iniciar" class="btn btn-primary mt-2" onclick="datosusuario()"> -->
        </form>
        <div id="accesodenegado"></div>
        <div class="text-center">
          <a href="./recuperar.html" class="mt-4">Recuperar contrasena</a>
          <p>
            Si no eres miembro, registrate aqui <a href="{% url 'registrar' %}" class="mt-4">Registrar</a>
          </p>
        </div>
      </div>
    </div>
  </div>



{% endblock contenido %}